@font-face {
  font-family: 'Breul';
  src: url("../fonts/breul.eot");
  src: url("../fonts/breul.eot?#iefix") format("embedded-opentype"), url("../fonts/breul.woff2") format("woff2"), url("../fonts/breul.woff") format("woff"), url("../fonts/breul.ttf") format("truetype"), url("../fonts/breul.svg#breul") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Breul thin';
  src: url("../fonts/breul_thin.eot");
  src: url("../fonts/breul_thin.eot?#iefix") format("embedded-opentype"), url("../fonts/breul_thin.woff2") format("woff2"), url("../fonts/breul_thin.woff") format("woff"), url("../fonts/breul_thin.ttf") format("truetype"), url("../fonts/breul_thin.svg#breul_thin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Devonshire';
  src: url("../fonts/Devonshire-Regular.eot");
  src: url("../fonts/Devonshire-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Devonshire-Regular.woff2") format("woff2"), url("../fonts/Devonshire-Regular.woff") format("woff"), url("../fonts/Devonshire-Regular.ttf") format("truetype"), url("../fonts/Devonshire-Regular.svg#Devonshire-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Flow';
  src: url("../fonts/FlowExt.eot");
  src: url("../fonts/FlowExt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlowExt.woff2") format("woff2"), url("../fonts/FlowExt.woff") format("woff"), url("../fonts/FlowExt.ttf") format("truetype"), url("../fonts/FlowExt.svg#FlowExt") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Prumo';
  src: url("../fonts/prumo.eot");
  src: url("../fonts/prumo.eot?#iefix") format("embedded-opentype"), url("../fonts/prumo.woff2") format("woff2"), url("../fonts/prumo.woff") format("woff"), url("../fonts/prumo.ttf") format("truetype"), url("../fonts/prumo.svg#prumo") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Croissant One';
  src: url("../fonts/croissant_one.eot");
  src: url("../fonts/croissant_one.eot?#iefix") format("embedded-opentype"), url("../fonts/croissant_one.woff2") format("woff2"), url("../fonts/croissant_one.woff") format("woff"), url("../fonts/croissant_one.ttf") format("truetype"), url("../fonts/croissant_one.svg#croissant_one") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Segoe';
  src: url("../fonts/segoe.eot");
  src: url("../fonts/segoe.eot?#iefix") format("embedded-opentype"), url("../fonts/segoe.woff2") format("woff2"), url("../fonts/segoe.woff") format("woff"), url("../fonts/segoe.ttf") format("truetype"), url("../fonts/segoe.svg#segoe") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Kaushan';
  src: url("../fonts/kaushan.eot");
  src: url("../fonts/kaushan.eot?#iefix") format("embedded-opentype"), url("../fonts/kaushan.woff2") format("woff2"), url("../fonts/kaushan.woff") format("woff"), url("../fonts/kaushan.ttf") format("truetype"), url("../fonts/kaushan.svg#kaushan") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
@keyframes wave {
  0%, 60%, 100% {
    transform: initial; }
  30% {
    transform: translateY(-10px); } }
@keyframes underline {
  from {
    width: 0%; }
  to {
    width: 100%; } }
body {
  width: 80%;
  margin: auto; }

p {
  margin: 0px;
  padding: 0px; }

header, footer, .soon {
  background: #579C87;
  color: #FDCB46; }
  header a, footer a, .soon a {
    text-decoration: none;
    color: #FDCB46; }
    header a :hover, footer a :hover, .soon a :hover {
      text-decoration: none;
      color: #FDCB46; }

header {
  text-align: center;
  padding: 0.1em; }
  header h1 {
    font-size: 3em;
    font-family: 'Montserrat'; }

.container {
  text-align: center;
  margin: auto; }

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .row :hover {
    cursor: pointer; }
  .row a {
    text-decoration: none; }

.menu {
  height: 280px;
  width: 280px;
  margin: 2vh;
  box-shadow: 0px 0px 5px 5px #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
  /*transform: scale(1);
     transition-property: transform;
     transition-duration: 500ms;
     &:hover {
         transform: scale(1.15);
     }*/ }
  .menu:hover div {
    transform: scale(1.3);
    opacity: 0.4; }
  .menu div {
    transition: transform .4s;
    margin-bottom: 0.5em; }

#menu1 {
  background: #FCDFDB;
  color: #3C1218; }
  #menu1 .restau__nom {
    font-family: Devonshire;
    font-size: 0.8em; }
  #menu1 .restau__txt {
    font-size: 0.8em;
    font-family: 'Flow';
    font-weight: bold; }

#menu2 {
  background: #FFF5FE;
  color: #C77412; }
  #menu2 .restau__nom {
    font-family: 'Croissant One';
    font-size: 0.5em;
    background: linear-gradient(to right, #C77412 0%, #905BFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #menu2 .restau__txt {
    font-size: 0.8em;
    font-family: 'Prumo'; }

#menu3 {
  background: #F9F9F9;
  color: #0887FB; }
  #menu3 .restau__nom {
    font-family: Devonshire;
    font-size: 0.8em;
    background: linear-gradient(to right, #0431DF 0%, #0887FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #menu3 .restau__txt {
    font-family: 'segoe';
    font-size: 0.8em; }

#menu4 {
  background: #FDFFFD;
  color: #3D9339; }
  #menu4 .restau__nom {
    font-family: 'Kaushan';
    font-size: 0.8em;
    background: linear-gradient(to right, #3D9339 0%, #BFFF7E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #menu4 .restau__txt {
    font-family: 'segoe';
    font-size: 0.8em; }

.restau__logo > img {
  width: 15%;
  margin-bottom: -0.5em; }

.soon {
  font-family: 'Breul thin';
  font-size: 2em;
  width: 400px;
  border-radius: 15px 15px 15px 15px;
  padding: 0.2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 3em; }
  .soon .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 3px;
    background: #FDCB46;
    animation: wave 1.3s linear infinite; }
    .soon .dot:nth-child(1) {
      margin-left: 10px; }
    .soon .dot:nth-child(2) {
      animation-delay: -1.1s; }
    .soon .dot:nth-child(3) {
      animation-delay: -0.9s; }

footer {
  position: fixed;
  width: 80%;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  font-family: 'Arial'; }
  footer :hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    animation-iteration-count: infinite; }
  footer p {
    padding: 0.8em; }
  footer a {
    text-decoration: none;
    color: #FDCB46; }
    footer a :hover {
      text-decoration: none;
      color: #FDCB46; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    width: 100%; }

  header {
    padding: 0.5em; }
    header h1 {
      font-size: 4em; }

  .menu {
    width: 20vh;
    height: 30vh;
    font-size: 3em; }

  .soon {
    font-size: 2.5em;
    width: 40%;
    padding: 0.3em; }

  footer {
    width: 100%;
    font-size: 2em; }
    footer p {
      padding: 1em; } }
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  header {
    padding: 0.5em; }
    header h1 {
      font-size: 2em; }

  .menu {
    height: 180px;
    width: 180px;
    margin: 2vh;
    box-shadow: 0px 0px 5px 5px #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em; }
    .menu div {
      margin-bottom: 0.5em; }

  .soon {
    font-size: 1.5em;
    width: 300px;
    margin-top: 0em; } }
@media only screen and (min-width: 1367px) and (max-width: 1800px) {
  header {
    padding: 0.5em; }
    header h1 {
      font-size: 2em; }

  .menu {
    height: 220px;
    width: 220px;
    font-size: 1.7em; }
    .menu div {
      margin-bottom: 0.5em; }

  .soon {
    font-size: 1.5em;
    width: 300px;
    margin-top: 0em; }

  footer {
    font-size: 1.2em; }
    footer p {
      padding: 0.5em; } }
main {
  width: 70%;
  margin: auto;
  padding: 50px;
  margin-top: 4vh;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 5px 5px #F5F5F5; }

.line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }

.sub {
  content: '';
  margin-top: -15px;
  margin-bottom: 20px;
  width: 3px;
  height: 3px;
  visibility: hidden;
  transform-origin: left; }

.moment {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .moment:hover .sub {
    visibility: visible;
    animation: underline 0.6s forwards; }

main#main1 {
  color: #3C1218;
  background: #FCDFDB; }
  main#main1 h2 {
    font-family: 'Devonshire';
    font-size: 3em;
    margin: 0px;
    padding: 0px;
    font-weight: normal; }
  main#main1 h3, main#main1 p {
    font-family: 'Segoe'; }
  main#main1 .line {
    margin-bottom: 1em; }
  main#main1 p:nth-of-type(2) {
    font-weight: bold; }
  main#main1 .last_txt {
    margin-top: 70px; }
    main#main1 .last_txt img {
      transform: translate(0, 8px);
      width: 50px;
      margin-right: 10px; }
    main#main1 .last_txt p {
      font-family: 'Devonshire';
      font-size: 2.5em; }
  main#main1 h3 {
    flex: 3; }
  main#main1 svg {
    flex: 4; }
  main#main1 .sub {
    background: #3C1218; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  main#main1 svg {
    height: 12pt; } }
main#main2 {
  background: #FFF5FE; }
  main#main2 h2 {
    font-family: 'Croissant One';
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    background: linear-gradient(to right, #C77412 0%, #8F5BFE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  main#main2 h3 {
    flex: 4; }
  main#main2 svg {
    flex: 4;
    width: 332pt;
    height: 18pt; }
    main#main2 svg#part1 {
      fill: #C67412; }
    main#main2 svg#part2 {
      fill: #A56799; }
    main#main2 svg#part3 {
      fill: #6E4CCC; }
  main#main2 h3, main#main2 p {
    font-family: 'Cambria';
    font-size: 1.2em; }
  main#main2 h3#part1 {
    color: #C67412; }
  main#main2 h3#part2 {
    color: #A56799; }
  main#main2 h3#part3 {
    color: #6E4CCC; }
  main#main2 .line {
    margin-bottom: 1em; }
    main#main2 .line--part1 {
      color: #C67412; }
    main#main2 .line--part2 {
      color: #A56799; }
    main#main2 .line--part3 {
      color: #6E4CCC; }
  main#main2 hr {
    width: 30%;
    border: 4px solid #3C1218;
    border-radius: 10px;
    margin: inherit; }
  main#main2 p:nth-of-type(2) {
    font-size: 1.5em; }
  main#main2 .sub--color1 {
    background: #C67412; }
  main#main2 .sub--color2 {
    background: #A56799; }
  main#main2 .sub--color3 {
    background: #6E4CCC; }

main#main3 {
  background: #EDEFEF; }
  main#main3 h2 {
    font-family: 'Croissant One';
    font-size: 3em;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    background: linear-gradient(to right, #0887FB 0%, #8F5BFE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  main#main3 h3 {
    flex: 2; }
  main#main3 svg {
    flex: 2;
    width: 332pt;
    height: 18pt; }
    main#main3 svg#part1 {
      fill: #0228DD; }
    main#main3 svg#part2 {
      fill: #0670F3; }
    main#main3 svg#part3 {
      fill: #229DF9; }
  main#main3 h3, main#main3 p {
    font-family: 'Cambria';
    font-size: 1.2em; }
  main#main3 .line {
    margin-bottom: 1em; }
  main#main3 .moment {
    margin-top: 3em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  main#main3 hr {
    width: 30%;
    border: 4px solid #3C1218;
    border-radius: 10px;
    margin: inherit; }
  main#main3 p:nth-of-type(2) {
    font-size: 1.5em; }

main#main4 {
  background: #FDFFFD; }
  main#main4 h2 {
    font-family: 'Kaushan', cursive;
    font-size: 4em;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    background: linear-gradient(to right, #3D9339 0%, #BFFF7E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  main#main4 h3 {
    flex: 2; }
  main#main4 svg {
    flex: 4;
    width: 332pt;
    height: 18pt; }
    main#main4 svg#left {
      fill: #41963C; }
    main#main4 svg#right {
      fill: #C4FD90; }
  main#main4 h3, main#main4 p {
    font-family: 'Segoe';
    font-size: 1em; }
  main#main4 .line {
    margin-bottom: 0.7em; }
  main#main4 .moment {
    margin-top: 3em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  main#main4 p:nth-of-type(2) {
    font-size: 1.5em; }

/*# sourceMappingURL=index.css.map */
