@font-face {
    font-family: 'Breul';
    src: url('../fonts/breul.eot');
    src: url('../fonts/breul.eot?#iefix') format('embedded-opentype'),
        url('../fonts/breul.woff2') format('woff2'),
        url('../fonts/breul.woff') format('woff'),
        url('../fonts/breul.ttf') format('truetype'),
        url('../fonts/breul.svg#breul') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Breul thin';
    src: url('../fonts/breul_thin.eot');
    src: url('../fonts/breul_thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/breul_thin.woff2') format('woff2'),
        url('../fonts/breul_thin.woff') format('woff'),
        url('../fonts/breul_thin.ttf') format('truetype'),
        url('../fonts/breul_thin.svg#breul_thin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Devonshire';
    src: url('../fonts/Devonshire-Regular.eot');
    src: url('../fonts/Devonshire-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Devonshire-Regular.woff2') format('woff2'),
        url('../fonts/Devonshire-Regular.woff') format('woff'),
        url('../fonts/Devonshire-Regular.ttf') format('truetype'),
        url('../fonts/Devonshire-Regular.svg#Devonshire-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flow';
    src: url('../fonts/FlowExt.eot');
    src: url('../fonts/FlowExt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FlowExt.woff2') format('woff2'),
        url('../fonts/FlowExt.woff') format('woff'),
        url('../fonts/FlowExt.ttf') format('truetype'),
        url('../fonts/FlowExt.svg#FlowExt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prumo';
    src: url('../fonts/prumo.eot');
    src: url('../fonts/prumo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/prumo.woff2') format('woff2'),
        url('../fonts/prumo.woff') format('woff'),
        url('../fonts/prumo.ttf') format('truetype'),
        url('../fonts/prumo.svg#prumo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Croissant One';
    src: url('../fonts/croissant_one.eot');
    src: url('../fonts/croissant_one.eot?#iefix') format('embedded-opentype'),
        url('../fonts/croissant_one.woff2') format('woff2'),
        url('../fonts/croissant_one.woff') format('woff'),
        url('../fonts/croissant_one.ttf') format('truetype'),
        url('../fonts/croissant_one.svg#croissant_one') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe';
    src: url('../fonts/segoe.eot');
    src: url('../fonts/segoe.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoe.woff2') format('woff2'),
        url('../fonts/segoe.woff') format('woff'),
        url('../fonts/segoe.ttf') format('truetype'),
        url('../fonts/segoe.svg#segoe') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kaushan';
    src: url('../fonts/kaushan.eot');
    src: url('../fonts/kaushan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kaushan.woff2') format('woff2'),
        url('../fonts/kaushan.woff') format('woff'),
        url('../fonts/kaushan.ttf') format('truetype'),
        url('../fonts/kaushan.svg#kaushan') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}