// Header et footer

$color-green: #579C87;
$color-yellow: #FDCB46;

// Background choix restaurants [index.html]

$bg-menu1: #FCDFDB;
$bg-menu2: #FFF5FE;
$bg-menu3: #F9F9F9;
$bg-menu4: #FDFFFD;
$bg-menu3b : #EDEFEF;

// Couleurs textes choix restaurants [index.html]

$txt-menu1: #3C1218;
$txt-menu2: #C77412;
$txt-menu3: #0887FB;
$txt-menu4: #3D9339; 

// Couleurs moments menu [menu(n).html]

$sc1-menu2: #C67412;
$sc2-menu2: #A56799;
$sc3-menu2: #6E4CCC;

$sc1-menu3: #0228DD;
$sc2-menu3: #0670F3;
$sc3-menu3: #229DF9;

$sc1-menu4: #41963C;
$sc2-menu4: #C4FD90;

$sub-menu4: #80C765;