main{
  width: 70%;
  margin: auto;
  padding: 50px;
  margin-top: 4vh;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 5px 5px #F5F5F5;
}

.line{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
 
  .title{
    margin-left: 50px;
    margin-right: 50px;
  }
  
 

  .moment{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;

     .sub{
      content: '';
      margin-top: -15px;
      margin-bottom: 20px;
      width: 3px;
      height: 3px;
      visibility: hidden;
      transform-origin: left;
    }

    &:hover .sub{
      visibility: visible;
      animation: underline 0.6s forwards;
    }
  }

@media only screen and (max-width: 1000px) {

   .line{
      flex-direction: column;

      p{
        margin-top: 10px;
      }
    }
}